html, body {
    background-color: black;
    color: white;
    background-image: url(../IMG/GTR.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.conteiner {
    max-width: 80%;
    margin: 20px auto;
    padding: 20px;
    background:rgba(150, 144, 144, 0);
    border-radius: 10px;
}

